.Rproj.user
.Rhistory
.RData
vignettes/figure
vignettes/*.R
vignettes/*.html
man
inst/web
inst/doc
docs/
vignettes/figure1/
vignettes/figure2/unnamed-chunk-11-1.png
vignettes/figure2/
vignettes/userguide2-autoplot-methods_files/
vignettes/userguide1-grammar_files/
